body{
    background-color: #cacaca
}


p{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p.cabecera{
    font-size: 10px;
    font-style: italic;
}

div.titulo{
    border: solid 1px black;
    background-color: white;
    color: blue;
    width: 200px;
}
div.contenedor{
    border: solid 1px black;
    width: 800px;
}

form label{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

div.botones{
    float: right;
}